<div id="<%= dom_id student %>">
  <p>
    <strong>Name:</strong>
    <%= student.name %>
  </p>

  <p>
    <strong>Sid:</strong>
    <%= student.sid %>
  </p>

  <p>
    <strong>Dob:</strong>
    <%= student.dob %>
  </p>

</div>
